<!-- CARD MODAL -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        INSERT VENUE PROFILE CODE HERE!!
      </div>
    </div>
  </div>
</div>

<!-- PROFILE -->
<div class="profile">
  <div class="profile-picture">
    <img class="image" src={{artist.profileImage}} alt="profile-image">
  </div>
  <div class="profile-content">
    <h1 class="band-name">{{artist.artistName}}</h1>
    <p class="band-genres">{{artist.genre}}</p>
    <div class="profile-bottom">
      <p>{{artist.email}}</p>
      <p>{{artist.website}}</p>
      <p>{{artist.phone}}</p>
      <button id="logout" class="btn btn-primary btn-lg btn-main logout">Logout</button>
    </div>
  </div>
</div>

<!-- FEED -->
<div id="feed">

  {{!-- venue filter --}}
 
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button id="filter" class="btn btn-outline-secondary" type="button"><i class="fas fa-camera fa-sm"></i></button>
    </div>
    <select class="custom-select" id="inputGroupSelect03">
      <option selected>Filter by Venue</option>
      {{#each gig}}
      <option value="{{this.id}}">{{this.gigName}}</option>
      {{/each}}
    </select>
  </div>

  {{!-- venue filter --}}

  <div id="card-display">
    {{#each gig}}
    <div class="gig-card" data-toggle="modal" data-target="#form-modal">
      <img class="image" src={{this.profileImage}} alt="venue-image">
      <div class="card-text">
        <div class="card-title">{{this.gigName}}</div>
        <p class="card-desc">{{this.discription}}</p>
        <hr>
        <div class="card-date">{{this.date}}</div>
        <button class="btn btn-primary btn-lg btn-main book card-button">Book</button>
      </div>
    </div>
    {{/each}}
  </div>

</div>