<!-- PROFILE -->
<div class="profile-left">
    <div class="profile-picture">
        <img class="image" src={{venue.image}} alt="profile-image">
    </div>
    <div class="profile-content">
        <h1 class="name">{{venue.venueName}}</h1>
        <p class="venue-address">{{venue.street_address}}</p>
        <p class="venue-address">{{venue.city}}, {{venue.state}} {{venue.zipcode}}</p>
        <p></p>
        <div class="profile-bottom">
            <p>{{venue.email}}</p>
            <p>{{venue.website}}</p>
            <p>{{venue.phone}}</p>
            <button class="btn btn-primary btn-lg btn-main gig-view" id="logout">Logout</button>
        </div>

    </div>
</div>

<!-- POST A GIG FORM -->
<div class="profile-right">
    <button class="btn btn-primary btn-lg btn-scnd gig-view">View Gigs</button>
    <div id="post-gig">Post a Gig</div>
    <br>
    <div class="createGigForm">
        <form>
            <div class="form-group">
                <label for="gig-des">Gig Description:</label>
                <input type="text" class="form-control" id="gig-des" placeholder="">
            </div>
            <div class="form-group">
                <label for="genres">Genre(s):</label>
                <input type="text" class="form-control" id="gig-genre" placeholder="">
            </div>
            <div class="bootstrap-iso">
                <div class="form-group date-label">
                    <label for="date">Date:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input class="form-control" id="gig-date" name="date" placeholder="MM/DD/YYYY" type="text" />
                    </div>
                </div>
            </div>
            <br>
            <button class="btn btn-primary btn-lg btn-main" id="gig-create" type="submit" value="Post-Gig">Post Gig</button>
        </form>
    </div>
</div>


{{!-- VENUE GIG VIEW: allows the venue to see all gig that they have posted --}}
<div class="profile-right hide">
    <div class="card-display">
        {{#each gigs}}
        {{!-- {{#unless isBooked}} --}}
        <div class="gig-card" data-toggle="modal" data-target="#form-modal">
            <img class="image" src={{this.image}} alt="venue-image">
            <div class="card-text">
                <div class="card-title">{{this.gigName}}</div>
                <p class="card-desc">{{this.description}}</p>
                <hr class="divider">
                <div class="card-genre">{{this.genre}}</div>
                <div class="card-date">{{this.date}}</div>
                <button data-id="{{this.id}}" class="btn btn-primary btn-lg btn-main delete card-button">Delete</button>
            </div>
        </div>
        {{!-- {{/unless}} --}}
        {{/each}}
    </div>
</div>

<!-- Include Date Range Picker -->
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<!-- Link to makeGig.js to handle the click event, post request, and calendar functionality -->
<script type="text/javascript" src="../js/makeGig.js"></script>

{{!-- Link to handle the logout button --}}
<script type="text/javascript" src="/js/logout.js"></script>
<script type="text/javascript" src="/js/delete-gig.js"></script>